@import url("https://fonts.googleapis.com/css2?family=Itim&family=Roboto:wght@400;500&display=swap");

body {
   font-family: "Roboto", sans-serif;
   background-color: rgb(30 41 59);
}

.font-itim {
   font-family: "Itim", cursive;
}
